{% extends 'base.html' %}
{% block content %}
<div class="container mt-5" style="max-width: 400px;">
    <div class="card shadow">
        <div class="card-header bg-dark text-white text-center">
            <h4> Авторизация в системе</h4>
        </div>
        <div class="card-body">
                    <div class="card-body">
            <!-- Блок вывода ошибок бэкенда -->
            {% if error_message %}
                <div class="alert alert-danger small mb-3">{{ error_message }}</div>
            {% endif %}
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' or message.tags == 'danger' %}
                        <div class="alert alert-danger small mb-3">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <form method="post" action="{% url 'login' %}">

            <form method="post">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger">Неверное имя пользователя или пароль.</div>
                {% endif %}
                
                <div class="mb-3">
                    <label class="form-label">Логин</label>
                    <input type="text" name="username" class="form-control" required>
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Пароль</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                
                <button type="submit" class="btn btn-dark w-100 mb-3">Войти</button>
            </form>
            
            <!-- Ссылка на регистрацию -->
            <div class="text-center small">
                Нет аккаунта? <a href="{% url 'register' %}" class="text-dark fw-bold text-decoration-none">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

